//  Custom Styles
//  -----------------------------

// Elements
// ---------

h1 {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;

  &.track-title {
    text-transform: capitalize; // Track title is pulled in based off the {{page}} variable but it is lowercase
  } 
}

h4 {
  margin-bottom: 0;
}

h5 {
  margin-bottom: 0;
  color: $color-gray-dark;
  font-weight: $global-weight-normal;
}

h6 {
  margin-bottom: 0;
  color: $color-gray-dark;
  font-weight: $global-weight-normal;
}

// Header
// ---------

#header {
  background-color: $color-blue;

  .logo {
    padding: 16px 0;
  }

}

// Section - Title
// ---------

.section-title {
  padding: 48px 0;
}

// Tabs
// ---------

.tabs {
  border-bottom: $border-style;

  .tabs-title {
    background-color: $color-gray-light; // Apply a bg color here instead of to the entire ul.tabs
    border: $border-style;
    border-right: none; // No double border between tabs
    position: relative; // Move tabs down to cover .tabs bottom border so the .is-active tab appears to have no border
    top: 1px;

    &.is-active {
      border-bottom: 1px solid $color-white;
    }

    &:first-of-type {
      border-radius: 10px 0 0 0; // Rounded corner for first tab

      a {
        border-radius: 10px 0 0 0; // Match rounded corner so border isn't obscured by bg color
      }
    }

    &:last-of-type {
      border-radius: 0 10px 0 0; // Rounded corner for last tab
      border-right: $border-style;

      a {
        border-radius: 0 10px 0 0; // Match rounded corner so border isn't obscured by bg color
      }
    }

  }

  &.vertical {
    border-bottom: none;

    .tabs-title {
      background-color: $color-white;
      border-top: $border-style;
      border-right: none;
      border-bottom: none;
      border-left: none;
      border-radius: 0;
      position: static;
      top: 0;

      &.is-active, &:hover, &:focus {
        background-color: $color-gray-light;
      }

      &:last-of-type {
        border-bottom: $border-style;
      }

      a {
        border-radius: 0;
        background-color: transparent;
      }

    }

  }

}

// Sessions
// ---------

.sessions {

  .tabs-panel {
    padding-top: 0;

    &:first-of-type {
      //display: block;
    }
  }

}

