//  Variables
//  -----------------------------

// Colors
// ---------

$color-black: #000000;
$color-white: #FFFFFF;

$color-blue: #0052CC;
$color-blue-dark: #172B4D;

$color-red: #FF5630;
$color-yellow: #FFAB00;
$color-green: #36B37E;
$color-teal: #00B8D9;
$color-purple: #6554C0;

$color-gray: #CCCCCC;
$color-gray-light: #F4F5F7;
$color-gray-dark: #707070;


// Misc
// ---------

$border-style: 1px solid $color-gray;