<div class="grid-container fluid">
  <div class="grid-x collapse">

    <div class="medium-3 cell">
      <ul class="vertical tabs" data-tabs id="session-tabs" data-deep-link="true" data-update-history="true">

        {{#each sessions.Items}}
          {{#ifequal this.Track.Title "Build"}}
            
            <li class="tabs-title">
              <a href="#session-panel-{{this.Id}}">
                <h4>
                  {{this.Title}}
                </h4>
                <h6>
                  {{#each Speakers}}
                    {{this.FirstName}} {{this.LastName}}, {{this.Company}}<br>
                  {{/each}}
                </h6>
              </a>
            </li>

          {{/ifequal}}
        {{/each}}

      </ul>
    </div>

    <div class="medium-9 cell">
      <div class="tabs-content" data-tabs-content="session-tabs">

        {{#each sessions.Items}}
          {{#ifequal this.Track.Title "Build"}}

            <div class="tabs-panel" id="session-panel-{{this.Id}}">
              <article>
                <h1>
                  {{this.Title}}
                </h1>
                <br>
                {{#each Speakers}}
                  <h4>{{this.FirstName}} {{this.LastName}}, {{this.Company}}</h4>
                {{/each}}
                <br>
                <p>{{this.Description}}</p>
                <br>
                <p>
                  <a href="#">See the Q&A from this talk and others here.</a>
                </p>
                <br>
                <h2>About the speaker</h2>
                <br>
                  {{#each Speakers}}
                    <h4>{{this.FirstName}} {{this.LastName}}, {{this.Company}}</h4>
                    <p>{{this.Biography}}</p>
                  {{/each}}
              </article>
            </div>

          {{/ifequal}}
        {{/each}}

      </div>
    </div>

  </div>
</div>