<nav class="main-menu">

  <div class="grid-container fluid">
    <div class="grid-x grid-margin-x">

      <div class="large-12 cell">

        <ul class="tabs">

          <li class="tabs-title 
            {{#ifpage 'index' 'build'}}
              is-active
            {{/ifpage}}
            "
            >
            <a href="build.html" 
              {{#ifpage 'index' 'build'}}
                aria-selected="true"
              {{/ifpage}}
              >
              Build
            </a>
          </li>

          <li class="tabs-title 
            {{#ifpage 'plan'}}
              is-active
            {{/ifpage}}
            "
            >
            <a href="plan.html" 
              {{#ifpage 'plan'}}
                aria-selected="true"
              {{/ifpage}}
              >
              Plan
            </a>
          </li>

          <li class="tabs-title 
            {{#ifpage 'innovate'}}
              is-active
            {{/ifpage}}
            "
            >
            <a href="innovate.html" 
              {{#ifpage 'innovate'}}
                aria-selected="true"
              {{/ifpage}}
              >
              Innovate
            </a>
          </li>

          <li class="tabs-title 
            {{#ifpage 'interact'}}
              is-active
            {{/ifpage}}
            "
            >
            <a href="interact.html" 
              {{#ifpage 'interact'}}
                aria-selected="true"
              {{/ifpage}}
              >
              Interact
            </a>
          </li>

          <li class="tabs-title 
            {{#ifpage 'scale'}}
              is-active
            {{/ifpage}}
            "
            >
            <a href="scale.html" 
              {{#ifpage 'scale'}}
                aria-selected="true"
              {{/ifpage}}
              >
              Scale
            </a>
          </li>

          <li class="tabs-title 
            {{#ifpage 'service'}}
              is-active
            {{/ifpage}}
            "
            >
            <a href="service.html" 
              {{#ifpage 'service'}}
                aria-selected="true"
              {{/ifpage}}
              >
              Service
            </a>
          </li>

          <li class="tabs-title 
            {{#ifpage 'enhance'}}
              is-active
            {{/ifpage}}
            "
            >
            <a href="enhance.html" 
              {{#ifpage 'enhance'}}
                aria-selected="true"
              {{/ifpage}}
              >
              Enhance
            </a>
          </li>

          <li class="tabs-title 
            {{#ifpage 'general'}}
              is-active
            {{/ifpage}}
            "
            >
            <a href="general.html" 
              {{#ifpage 'general'}}
                aria-selected="true"
              {{/ifpage}}
              >
              General
            </a>
          </li>

        </ul>

    </div>
  </div>

</nav>