{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlassian Summit</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

    <header id="header">

      <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">

          <div class="medium-4 large-2 cell">
            <a href="index.html">
              <img class="logo" src="{{root}}assets/img/logo-atlassian-white.png" />
            </a>
          </div>

          <div class="auto cell">

          </div>

        </div>
      </div>

    </header>

    <section class="section-title">

      <div class="grid-container fluid">
        <div class="grid-x grid-margin-x align-center">

          <div class="cell large-4 text-center">
            <img class="logo" src="{{root}}assets/img/logo-atlassian-summit.svg" />
            <br><br>
            <h5>Video Archive</h5>
          </div>

        </div>
      </div>

    </section>

    {{> navigation }}
   
    <br><br>
    
    <section class="sessions">

      <div class="grid-container fluid">
        <div class="grid-x collapse">

          <div class="large-12 cell">
            <h3 class="track-title">
              {{#ifpage 'index'}}
                Build
              {{/ifpage}}

              {{#unlesspage 'index'}}
                {{page}}
              {{/unlesspage}}
            </h3>
          </div>

        </div>
      </div>

      <br>

      {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
      {{> body }}

    </section>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>